@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@100&display=swap");
.fuentes .nav-link {
  color: #ededed;
}

.fuentes li a:hover {
  background-color: #006888;
}

body {
  background-color: #e3e8f2;
  color: #050505;
  font-family: "Open Sans", sans-serif;
}

.fuentes {
  font: 1.5rem;
  font-weight: bold;
  padding: 2rem;
  text-transform: uppercase;
}

.tituloPrincipal {
  color: #005f40;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 3px;
}

.titulos {
  color: #005f40;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
}

.tituloFormulario {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-weight: 400;
  padding: 1rem;
}

.titulosMarcas {
  font-size: 30px;
  font-weight: 700;
}

.parrafoUno {
  font-size: larger;
}

.enlace {
  color: #006888;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 100%;
  transition: color 0.3s;
}

.enlace:hover {
  color: #914d76;
}

.colorBtn {
  background-color: #005f40;
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
}

.botonEnviar {
  color: white;
  background-image: linear-gradient(to bottom, #005f40, #05422e);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.botonEnviar:hover {
  background-color: #006888;
}

.tarjeta {
  margin-top: 50px;
  margin-bottom: 50px;
}

.tarjetaTienda {
  height: 400px;
}

.mapa {
  width: 100%;
  height: 200px;
  border: 0;
  border-radius: 10px;
}

.infoContacto {
  font-size: 16px;
  padding: 20px;
  background-color: #fffbfe;
  text-align: center;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 0 20px transparent, inset 0 0 0 20px #005f40;
}

.formularioContacto {
  padding: 20px;
  background-color: #fffbfe;
  border-bottom: 10px;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #005f40, #05422e);
  color: #ededed;
}

.form-control {
  border: 2px solid #005f40;
}

ul {
  display: flexbox;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 36px;
  color: #005f40;
  text-align: center;
}

h2 {
  font-size: 35px;
  font-weight: 700;
  font-weight: 1000;
  line-height: 1.5;
  padding: 1rem;
  margin-bottom: 1rem;
}

h3 {
  color: #005f40;
  text-align: center;
  text-transform: uppercase;
  font-weight: 1000;
  line-height: 1.5;
  padding: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

.promo {
  font-size: 16px;
  color: #005f40;
  font-style: italic;
  margin-top: 5px;
}

.alineacion {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formularioControl {
  background-color: #EFEFEF;
  border: 2px solid #135343;
  color: #050505;
  border-radius: 5px;
}

.precios {
  font-size: 24px;
  color: #050505;
  font-weight: bold;
  margin-top: 10px;
}

.logo {
  width: 10rem;
  transform: rotate(-4deg);
}

.encabezado {
  background-color: #005f40;
  font-weight: bold;
}

footer {
  color: #050505;
  font-size: smaller;
  text-align: center;
  background-color: #ededed;
}

.marca {
  max-width: 90%;
  margin: auto;
}

.breadcrumb {
  background-color: transparent;
  font-size: 15px;
  margin-bottom: 20px;
}

.breadcrumb-item {
  padding: 0;
}

.breadcrumb-item a {
  color: #005f40;
  text-decoration: none;
  transition: color 0.3s;
}

.breadcrumb-item a:hover {
  color: #914d76;
}

.breadcrumb-item.active {
  color: #005f40;
  font-weight: bold;
}

/*# sourceMappingURL=estilo.css.map */
