
.navbar{
    color: #547AA5;
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    background-color: #50D8D7;
}

h1 {
    color: #000001;
    font-size: 47px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: #000001;
    font-size: 37px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
    color: #000001;
    font-size: 30px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h4{
    color: #121FA9;
    font-size: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div{
    background-color: #547AA5;
    font-size: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

p{
    color: #000001;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.parrafo{
    color: #070808;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
}

.imgHtml{
    width: 500px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000001;
}

main {
    background-color: #50D8D7;
}

.cambioDisplay{
    display: inline-block;
}


.formulario{
    background-color: #243B4A;
}

.contenedor{
    width: 600px;
    height: 450px;
    background-color: #243B4A;
    border: 2px black solid;
    margin-top: 50px;
    margin-left: 365px;
    padding: 5px;
}