@import "variables";

@mixin anclas{
    text-decoration: none;
    color: $colorTexto;
    font-size: 30px;
}

.logo{
    width: 10rem;
    transform: rotate(-4deg);
}

.encabezado{
    background-color: $colorPrimario;
    font-weight: bold;   
}