@import "variables";

@mixin anclas{
    text-decoration: none;
    color: $color-texto;
    font-size: 30px;
}

.logo{
    width: 10rem;
}

.encabezado{
    background-color: $color-primario;
    font-weight: bold;
    
    
}

h1 {
    color: $color-secundario;
}