.breadcrumb {
    background-color: transparent; 
    font-size: 15px;
    margin-bottom: 20px;
}

.breadcrumb-item {
    padding: 0;
}

.breadcrumb-item a {
    color: $colorPrimario; 
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumb-item a:hover {
    color: $colorHover2; 
}

.breadcrumb-item.active {
    color: $colorPrimario; 
    font-weight: bold;
}

