.breadcrumb {
    background-color: transparent; 
    font-size: 17   px;
    margin-bottom: 20px;
}

.breadcrumbItem {
    padding: 0;
}

.breadcrumbItem a {
    color: $colorPrimario; 
    text-decoration: none;
    transition: color 0.3s;
}

.breadcrumbItem a:hover {
    color: $colorHover2; 
}

.breadcrumbItem.active {
    color: $colorHover; 
    font-weight: bold;
}

